@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/*Navbar*/

.text-logo {
  @apply text-logoColor20 text-4xl font-logoFont font-light
}

/*Headings*/

.title {
  @apply text-baseColor font-bold text-2xl mb-6 text-center
}
/*Text*/
body {
  @apply text-bodyColor180 font-bodyFont bg-cover bg-no-repeat text-lg h-screen;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/background.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input {
  @apply border-b-2 border-lightColor30 bg-transparent;
}

table {
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 25% ;
}

hr {
  @apply border-baseColor;
}

select {
  @apply bg-logoColor20 rounded-lg w-1/2;
}