@tailwind base;
@tailwind components;
@tailwind utilities;


/*Navbar*/

.text-logo {
  @apply text-logoColor20 text-4xl font-logoFont font-light
}

/*Headings*/

.title {
  @apply text-baseColor mb-6 font-bold text-2xl
}
/*Text*/
body {
  @apply text-bodyColor180 font-bodyFont bg-cover bg-no-repeat text-lg min-h-screen;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/background.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  @apply ml-1 border-b-2 border-lightColor30 bg-transparent;
}

table {
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 25% ;
}

hr {
  @apply border-baseColor;
}