@tailwind base;
@tailwind components;
@tailwind utilities;


/*Navbar*/
.text-logo {
  @apply text-logoColor text-4xl font-logoFont font-light
}

/*Headings*/
h1 {
  @apply text-h1Color
}
body {
  @apply text-bodyColor font-bodyFont font-bold h-screen bg-cover;
  background-image: url("./assets/loginBackground.svg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
